html {
  font-family: "Roboto";
}
body {
  position: absolute;
  left: 50%;
  top: 20%;
  margin: -86px 0px 0px -100px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: right;
}

table {
  background-color: rgb(209, 74, 74);
  border: 2px solid black;
  padding: 5px;
}

th {
  background-color: white;
  border: 2px solid black;
  padding: 20px;
}

.highlight {
  background-color: red;
}

name {
  text-align: center;
}
