:root {
  --card-color: slateblue;
}
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
}

h2 {
  text-align: right;
}

table {
  background-color: var(--card-color);
  border-collapse: separate;
  padding: 25px;
  border-radius: 5%;
  box-shadow: 0 16px 12px 0 rgba(0, 0, 0, 0.2),
    0 24px 80px 0 rgba(0, 0, 0, 0.19);
}

table tr td {
  background-color: rgb(241, 238, 207);
  padding: 20px;

  border-radius: 5px;
}
table tr {
  border-radius: 20px;
}
table th {
  padding: 5px;
  color: white;
}

.highlight {
  background-color: rgb(243, 59, 59);
}

logo {
  height: 150px;
  width: 300px;
  background-repeat: no-repeat;
  filter: invert();
}

name {
  text-align: center;
}

h3 {
  color: white;
}
